<%- include('../inc/top', {all_title: 'List San Pham'}) %>

    <h1>Danh sach, user: <%= user %> </h1>

    <h2>
        San pham: id = <%= sp.id %>, name = <%= sp.name %>
    </h2>

<%- include('../inc/bottom') %>